{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "getAll": false,
    "LOL": false,
    "roleFilter": false,
    "championDetails": false,
    "sortData": false,
  }
}
