/**General Styles**/
body {
	margin: 0;
	font-size: 16px;
}

.container {
	width: 80%;
}

.col-xs-2 {
	float: left;
	width: 16.66666%;
}

.border-box {
	box-sizing: border-box;
	margin: 1% 0;
	padding: 0;
}

.auto {
	margin: 0 auto;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}

.none {
	display: none;
}

.block, .dropdown:hover .dropdown-content {
	display: block;
}

.img-png {
	width: 40px;
	height: auto;
}

.black-bg {
	background-color: #000;
}

.white-color {
	color: #fff;
}
/**NavBar**/
nav {
	width: 100%;
	padding: 0 20px;
}

.dropdown {
  float: left;
  font-size: 1rem;
  padding: 14px 10px;
  text-decoration: none;
}



.dropdown .dropbtn {
  font-size: 1rem;  
  border: none;
  outline: none;
  padding: 14px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #000;
  padding: 12px 10px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
/**Footer**/
footer {
  padding: 30px 20px 10px 20px;
  font-size: 0.8rem;
}

@media screen and (min-width: 1024px) {
.container {
	width: 50%;
}

.col-md-1 {
	float: left;
	width: 8.33333%;
}
}