/**General Styles**/
body {
	margin: 0;
	font-size: 16px;
	color: #ff9c00;
	font-family: 'Lato', sans-serif;
}

p {
	font-size: 0.9rem;
}

.btn {
	float: right;
	padding: 13px 35px 12px;
	border-radius: 0;
	background-color: #1e2328;
	border: 3px solid #08abac;
	color: #fff;
}

.btn:hover {
	border: 3px solid rgba(192,252,253,.7);
	-webkit-box-shadow: 0px 0px 8px 4px rgba(192,252,253,.7);
	-moz-box-shadow: 0px 0px 8px 4px rgba(192,252,253,.7);
	box-shadow: 0px 0px 8px 4px rgba(192,252,253,.7);
}

.container {
	width: 80%;
}

.row {
	width: 90%;
}

.row img, figure, .logo img {
	width: 100%;
	height: auto;
}

.row img {
	border: 2px solid #937341;
}

.col-xs-2 {
	float: left;
	width: 16.66666%;
}

.col-xs-12 {
	float: left;
	width: 100%;
}

.border-box {
	box-sizing: border-box;
	margin: 1% 0;
	padding: 0;
}

.auto {
	margin: 0 auto;
}

.center {
	text-align: center;
}

.clear, aside {
	clear: both;
}

.none {
	display: none;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.in-line {
	display: inline-block;
}

.profiles .btn {
	margin-top: 10px;
}

.block {
	display: block;
}

.img-png {
	width: 40px;
	height: auto;
}

.content-card {
	padding: 0 1% 2% 1%;
}

h2 a {
	font-size: 0.9rem;
}

.logo {
	width: 100px;
	margin: 10px;
}

.profiles {
	border: 2px solid #c9aa71;
	padding: 10px 30px;
	margin-bottom: 20px;
}
/*Colors*/
.black-bg {
	background-color: #000000;
}

.brown-color {
	color: #7d6033;
}
.blue-color {
	background-color:  #0000b3;
}
.gold-color {
	color: #ff9c00;
}
.black-color{
	color: #000000;
}
.white-color{
	color: #ffffff;
}
.light-gold-color {
	color: #c9aa71;
}

.dark-gray-bg {
	background-color:#1a1a1a;
}

.light-gray-color{
	border: 2px solid #e9eaec;
}

.headline-color {
	color: #937341;
}

/**NavBar**/
nav {
	width: 80%;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 24px;
}

nav li a {
  text-decoration: none;
  display: block;
  height: 40px;
  padding: 10px;
}

nav li a:hover {
	background-color: #1e2328;
	color: #c9aa71;
}
.menu-btn {
	width: 40px;
	background-color: #000;
	border: 1px solid #c9aa71;
	float: right;
	margin: 15px;
}

hr {
	color: #c9aa71;
}

.navbar {
	position: absolute;
	top: 50px;
	right: 0;
	background-color: #e9eaec;
	color: #1a1a1a;
}
/**Submenu**/
.submenu a {
padding: 12px 10px;
  text-decoration: none;
  text-align: left;
}

/**Footer**/
footer {
  padding: 30px 0px 10px 0px;
  font-size: 0.8rem;
}

/*Responsive*/
@media screen and (min-width: 740px) {
.col-md-3 {
	float: left;
	width: 25%;
}

.col-md-9 {
	float: left;
	width: 75%;
}
.col-md-4{
	float: left;
	width: 33.332%;
}
.col-md-8{
	float: left;
	width: 66.664%;
}
.col-md-6{
	float: left;
	width: 50%;
}

.description {
	font-size: 1.2em;
	padding-left: 50px;
}

}
@media screen and (min-width: 1024px) {
html {
  min-height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
}

header {
	width: 100%;
	height: 165px;
}
footer {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 0;
}
main {
	width: 70%;
	float: left;
	min-height: 100%;
}

.menu-btn {
	display: none;
}
.navbar {
	display: block;
	background-color: transparent;
}
nav {
	width: 100%;
}
nav ul {
	width: 100%;
	height: 40px;
}

nav ul li {
	float: left;
	width: 15%;
	margin-left: 20px;
}
nav li a {
  padding: 12px 10px;
}

aside {
	width: 30%;
	float: left;
	min-height: 100%;
}

.submenu p {
	padding-left: 40px;
}
.container {
	width: 60%;
    margin: 0;
}

.col-md-1 {
	float: left;
	width: 8.33333%;
}
}

.card-size2{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/*.card-img-position{
	margin-left: 5%;
	justify-content: start;
	display: flex;
}*/

/*2da pantalla*/

/*bienvenida*/
.bienvenida img {
	width: 100vw;
	height: auto;
}
/*champion's guide logo*/
.blurb {
	font-size: 0.8em;
}
  .card-size {
	width: 50%;
	height: auto;
}
.card-img-position{
	margin-left: 5%;
	justify-content: start;
	display: flex;
	}
